<!DOCTYPE html>
<html>
<head>
	<title>WireFrame UI</title>
	<link rel="stylesheet" type="text/css" href="css/list.css">
	<meta charset="utf-8">
</head>

<header>
	<ul>
	 <h2 class="page-div">Shopping list</h2>
	  <ul style="float:right;list-style-type:none;">
	    <li><a href="./shopping.html">Create new list</a></li>
	    <li><a href="./signup.html">Register</a></li>
	    <li><a href="#Contact">Contact Us</a></li>
	  </ul>
	</ul>
</header>


<body>
	<div class="about">
		<p>
		This site helps you design your shopping list for the several items you want to buy both
		online and offline. You can save your shopping list afterwards on your git account for further retence and you can even edit the shopping list in the later stages.
		</p>
	</div>

	<div class="body-content">
		<div class="list-div">
			<div class="img-div">
				<img src="Images/Folder.jpg" class="image-div">
				<p class="listpara-div">Music</p>
			</div>

		</div>
		<div class="list-div">
			<div class="img-div">
				<img src="Images/shoes.jpg" class="image-div">
				<p class="listpara-div">Shoes</p>
			</div>

		</div>
		<div class="list-div">
			<div class="img-div">
				<img src="Images/plane.jpg" class="image-div">
				<p class="listpara-div">Equipment</p>
			</div>

		</div>
		<div class="list-div">
			<div class="img-div">
				<img src="Images/Folder.jpg" class="image-div">
				<p class="listpara-div">Music</p>
			</div>

		</div>

	</div>
</body>


</html>