<!DOCTYPE html>
<html>
<head>
	<title>WireFrame UI</title>
	<link rel="stylesheet" type="text/css" href="css/registration.css">
	<meta charset="utf-8">
</head>

<header>
	<ul>
	 <h2 class="page-div">Shopping list</h2>
	  <ul style="float:right;list-style-type:none;">
	    <li><a href="./index.html">Old Shopping List</a></li>
	    <li><a href="./LoginPage.html">Login</a></li>
	    <li><a href="#Contact">Contact Us</a></li>
	  </ul>
	</ul>
</header>


<body>
	<div class="about">
		<p>
		This site helps you design your shopping list for the several items you want to buy both
		online and offline. You can save your shopping list afterwards on your git account for further retence and you can even edit the shopping list in the later stages.
		</p>
	</div>

	<div class="body-content">
		<form class="form-content">
			<div>
				<div class="sign-div">Sign up</div>
				<div class="label-content">
					<label>Name:</label>
					<span class="flex-span"></span>
					<input type="text" name="Username">
				</div>

				<div class="label-content">
					<label>Email address</label>
					<input type="email" name="Username">
				</div>

				<div class="label-content">
					<label>Password</label>
					<input type="password" name="Password">
				</div>

				<div class="label-content">
					<label>Confirm Password</label>
					<input type="password" name="Password">
				</div>
				<div>
					<button class="button">Submit</button>
				</div>

			</div>

		</form>
	</div>
</body>


</html>